absl-py==1.4.0
accelerate==0.30.0
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.13
albumentations==1.2.1
alembic==1.13.2
altair==4.2.0
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==2.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.2.0
Automat==22.10.0
babel==2.16.0
backcall==0.2.0
backports.zoneinfo==0.2.1
banal==1.0.6
beautifulsoup4==4.11.1
bitsandbytes==0.42.0
black==24.8.0
bleach==5.0.1
blinker==1.5
blurb==1.2.1
Brotli==1.1.0
cachetools==5.2.0
cairocffi==1.4.0
certifi==2022.9.24
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==2.1.1
chart-studio==1.1.0
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
cmake==3.25.0
cmdstanpy==1.2.5
coloredlogs==15.0.1
commonmark==0.9.1
constantly==23.10.4
contourpy==1.0.6
cryptography==42.0.5
cssselect==1.2.0
cycler==0.11.0
dataset==1.6.2
datasets==2.20.0
datetime-truncate==1.1.1
debugpy==1.6.4
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
distro==1.9.0
dj-database-url==2.1.0
Django==4.2.17
django-admin-charts==1.3.0
django-analytical==3.1.0
django-bower==5.2.0
django-cors-headers==4.3.1
django-htmlmin==0.11.0
django-memoize==2.3.1
django-meta==2.4.1
django-multiselectfield==0.1.13
django-nvd3==0.10.1
django-robots==6.1
django-seo-js==0.3.3
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.20.1
efficientnet-pytorch==0.7.1
einops==0.8.0
entrypoints==0.4
exceptiongroup==1.2.1
executing==1.2.0
facenet-pytorch==2.5.2
faiss-cpu==1.7.4
fastapi==0.92.0
fastjsonschema==2.16.2
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.15.4
fire==0.6.0
flatbuffers==23.1.21
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2024.3.1
ftfy==6.1.1
future==1.0.0
gast==0.4.0
git-filter-repo==2.45.0
gitdb==4.0.10
GitPython==3.1.29
google-api-core==2.24.0
google-api-python-client==2.108.0
google-auth==2.16.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.66.0
groq==0.10.0
grpcio==1.51.1
gunicorn==21.2.0
h11==0.14.0
h5py==3.8.0
holidays==0.58
hqq==0.1.7.post3
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.24.5
humanfriendly==10.0
hyperlink==21.0.0
identify==2.6.0
idna==3.4
imageio==2.34.1
imageio-ffmpeg==0.5.1
imagesize==1.4.1
importlib-metadata==5.1.0
importlib-resources==5.10.0
imutils==0.5.4
incremental==22.10.0
ipykernel==6.17.1
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itemadapter==0.8.0
itemloaders==1.2.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-server==1.23.3
jupyter_client==7.4.7
jupyter_core==5.1.0
jupyter_nbextensions_configurator==0.6.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.11.0
kiwisolver==1.4.4
langdetect==1.0.9
lazy_loader==0.4
libclang==15.0.6.1
lightgbm==4.5.0
lightning-utilities==0.5.0
lxml==5.2.1
Mako==1.3.5
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mediapipe==0.10.7
memoize @ git+ssh://git@is-github.com/AmaniTechnologiesLtd/memoize@f91fcb2bd6db9b4c7038b97e3d5e17077850eb0b
mistune==2.0.4
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.16
munch==2.5.0
mutagen==1.47.0
mypy-extensions==1.0.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8
nodeenv==1.9.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.4
oauth2client==4.1.3
oauthlib==3.2.2
onnxruntime==1.16.0
open-clip-torch==2.20.0
opencv-contrib-python==4.8.1.78
opencv-python==4.6.0.66
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==24.1
pandas==1.5.2
pandocfilters==1.5.0
parsel==1.9.1
parso==0.8.3
pathspec==0.12.1
pathtools==0.1.2
patsy==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pipreqs==0.4.11
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
plotly==5.11.0
pre-commit==3.5.0
prefetch-generator==1.0.3
pretrainedmodels==0.7.4
proglog==0.1.10
prometheus-client==0.15.0
prompt-toolkit==3.0.33
prophet==1.1.6
Protego==0.3.1
proto-plus==1.25.0
protobuf==5.29.2
psutil==5.9.4
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.20.0
pydantic==1.10.5
pydeck==0.8.0
PyDispatcher==2.0.7
pydotplus==2.0.2
pygame==2.5.2
Pygments==2.13.0
Pympler==1.0.1
pyOpenSSL==24.1.0
pyparsing==3.0.9
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
python-doc==2020.10.1
python-docs-theme==2024.6
python-docx==1.1.2
python-dotenv==1.0.0
python-nvd3==0.16.0
python-pptx==1.0.2
python-slugify==8.0.4
pytorch-lightning==1.8.6
pytorch-mtcnn==0.0.1
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
qudida==0.0.4
queuelib==1.6.2
regex==2022.10.31
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==1.3.1
retrying==1.3.4
rich==12.6.0
rsa==4.9
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.1.3
scipy==1.9.3
Scrapy==2.11.1
seaborn==0.12.1
selenium==4.20.0
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.2.0
sentry-sdk==1.15.0
service-identity==24.1.0
setproctitle==1.3.2
six==1.16.0
sklearn==0.0.post1
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.3.2.post1
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.53
sqlparse==0.5.3
stack-data==0.6.2
stanio==0.5.1
starlette==0.25.0
statsmodels==0.14.1
streamlit==1.16.0
sympy==1.12
tabulate==0.9.0
tenacity==8.1.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow-estimator==2.11.0
tensorflow-macos==2.11.0
termcolor==2.2.0
terminado==0.17.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2023.7.10
timm==0.6.12
tinycss2==1.2.1
tldextract==5.1.2
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.4.0
torch-tb-profiler==0.4.1
torchmetrics==0.11.0
torchsummary==1.5.1
torchvision==0.19.0
tornado==6.2
tqdm==4.66.5
traitlets==5.6.0
transformers @ git+https://github.com/huggingface/transformers@2a5a6ad18aa22e98429bb5ecb880660328030ea0
trio==0.25.0
trio-websocket==0.11.1
Twisted==24.3.0
typing_extensions==4.11.0
tzdata==2022.7
tzlocal==4.2
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.20.0
validators==0.20.0
virtualenv==20.26.3
w3lib==2.1.2
wandb==0.13.10
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
websockets==12.0
Werkzeug==2.2.2
whisperplus==0.3.4
whitenoise==6.6.0
widgetsnbextension==4.0.3
wrapt==1.14.1
wsproto==1.2.0
xgboost==1.7.1
XlsxWriter==3.2.0
xxhash==3.4.1
yarg==0.1.9
yarl==1.8.2
yt-dlp==2024.8.6
zipp==3.11.0
zope.interface==6.3
